/* General popup container styling */
.update_product-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .update_product-popup-content-for-update-page {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 700px;
    overflow-y: scroll;
  }
  
  .update_product-order-products {
    margin-top: 20px;
  }
  
  .update_product-product-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .update_product-product-item p {
    margin: 5px 0;
  }
  
  .update_product-product-item label {
    display: block;
    margin-top: 10px;
  }
  
  .update_product-product-item input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .update_product-button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .update_product-button-group button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update_product-button-group button:hover {
    background-color: #45a049;
  }
  
  /* Mobile Responsive */
  @media (max-width: 600px) {
    .update_product-popup-content-for-update-page {
      padding: 15px;
      width: 90%;
    }
  
    .update_product-order-products h3 {
      font-size: 18px;
    }
  
    .update_product-product-item p {
      font-size: 14px;
    }
  
    .update_product-product-item label {
      font-size: 14px;
    }
  
    .update_product-product-item input {
      font-size: 14px;
    }
  
    .update_product-button-group {
      flex-direction: column;
      align-items: center;
    }
  
    .update_product-button-group button {
      width: 100%;
      margin: 5px 0;
    }
  }
  